// my custom overrides
$primary: #720E32;
$secondary: #043852;
$dark: #4A5B73;

$navbar-light-hover-color: rgba($primary, 1);

$small-font-size: .55em;

// $border-radius: 0rem;

$border-width: 2px;

$light: #e9ecef;

// h2 {
//     color: $primary;
// }

// custom hover for nav, use this instead of bootstrap .nav-link
.custom-link {
    color: $secondary;
    text-decoration: none;
    padding: .4rem;
    display: block;
}

.custom-link:hover {
    color: $primary;
}

@media (min-width: 992px) {
    .custom-link {
        color: $primary;
        box-shadow: inset 0 0 0 0 $primary;
        padding: 0 .25rem;
        margin: 0 -.25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .custom-link:hover {
        color: white;
        box-shadow: inset 200px 0 0 0 $primary;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");



