@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;

body {
    font-family: $font-family-sans-serif;
}

// my custom overrides
$primary: #720E32;
$secondary: #043852;
$dark: #4A5B73;

$navbar-light-hover-color: rgba($primary, 1);

$small-font-size: .55em;

// $border-radius: 0rem;

$border-width: 2px;

$light: #e9ecef;

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
    color: $primary;
}

@import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

a, a.hover_underline {
    text-decoration: none;
}

a.hover_underline {
    display: inline-block;
    position: relative;
    transition: .25s ease-out;
}

a.hover_underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
}

a.hover_underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}