.bg-hero {
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5)),
    url("../assets/hero.png");
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: cover;
}